/* Genel stil */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  
    background: url('LoginBackG.jpg') no-repeat center center fixed;
    background-size: cover; /* Resmi ekranı kaplayacak şekilde ölçekler */
    background-position: center; /* Resmi ortalar */
    background-repeat: no-repeat; /* Resmi tekrar etmez */
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Giriş Kutusu */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Input Grupları */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #1877F2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #155DB0;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Küçük Metin */
.small-text {
    font-size: 12px;
    color: #666;
}

.small-text a {
    color: #1877F2;
    text-decoration: none;
}

.small-text a:hover {
    text-decoration: underline;
}
